body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #39a6ad;
}

h1 {
    text-align: center;
}

#textBlock {
    background: white;
    padding: 20px;
    border-left: 4px solid #084210;
    transition: 0.3s;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 18px;
    cursor: pointer;
    border: none;
    background: #eb3847;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #10355e;
}
