body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #6560a0;
}

h1 {
    text-align: center;
}

.input-container {
    text-align: center;
    margin-bottom: 20px;
}

.input-container input {
    padding: 8px;
    margin: 5px;
    width: 180px;
}

#addBtn {
    padding: 8px 16px;
    background: #da2e2e;
    border: none;
    cursor: pointer;
    color: white;
}

#addBtn:hover {
    background: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.deleteBtn {
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

.deleteBtn:hover {
    background: darkred;
}

#errorMsg {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
