body {
    font-family: Arial, sans-serif;
    background: goldenrod;
}

.slider-container {
    width: 600px;
    height: 350px;
    margin: 40px auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: #000;
}

#sliderImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: absolute;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

button {
    padding: 10px 20px;
    background: #ffffffaa;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: white;
}
