body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.section {
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid;
    transition: 0.3s;
}

#themeBtn {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    margin: 15px;
    border-radius: 5px;
    font-size: 16px;
}
