body {
    font-family: Arial, sans-serif;
    background: #e76060;
    padding: 20px;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    border: none;
    cursor: pointer;
    color: rgb(20, 19, 19);
    font-size: 16px;
}

button:hover {
    background: #ca17b2;
}

#errorMsg {
    color: red;
    text-align: center;
}

#resultBox {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-left: 5px solid #1b64b3;
    display: none;
}
